<div class="movie-card" [routerLink]="['/movie', movie.id]">
    <div class="card-container">
        <!-- 1. LA IMAGEN (La protagonista) -->
        <img [src]="posterUrl" [alt]="movie.title" class="card-image" loading="lazy" [style.view-transition-name]="'movie-poster-' + movie.id">
    </div>

    <!-- 2. La Franja de Información (Overlay) -->

    <div class="card-overlay">
        <!-- Título y Rating -->
        <h3 class="movie-title">{{ movie.title }}</h3>
        <div class="movie-rating">
            <span class="rating-icon">⭐️</span>
            <span>{{ movie.vote_average | number:'1.1-1' }}</span>
        </div>
    </div>
</div>